<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>MBXAccessToken</key>
	<string>pk.eyJ1IjoibWtiaXRidWNrZXQiLCJhIjoiY2swNWNzNGxqMDAwNDNjbzhrdmxnbTdiNSJ9.F3s1ErkGUpi-xnLp9jOWYw</string>
	<key>MGLMapboxMetricsEnabledSettingShownInApp</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>206.189.205.9</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
</dict>
</plist>
